---
#Default region for deploying AWS Landing Zone assets: Code Pipeline, Step functions, Lambda, SSM parameters, Service Catalog Portfolio/Products and StackSets
region: {{ region }}
version: 2018-06-14
lock_down_stack_sets_role: {{ lock_down_stack_sets_role }}

# Landing Zone Core Account Structure
organizational_units:
  # Landing Zone OU for Core accounts
  - name: {{ core_ou }}
    include_in_baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    core_accounts:
      # Security account
      - name: security
        email: {{ security_email }}
        ssm_parameters:
          - name: /org/member/security/account_id
            value: $[AccountId]
        core_resources:
          - name: SecurityRoles
            template_file: templates/core_accounts/aws-landing-zone-security.template
            parameter_file: parameters/core_accounts/aws-landing-zone-security.json
            deploy_method: stack_set
            ssm_parameters:
              - name: /org/member/security/admin_role_arn
                value: $[output_CrossAccountAdminRole]
              - name: /org/member/security/readonly_role_arn
                value: $[output_CrossAccountReadOnlyRole]
          - name: SharedTopic
            template_file: templates/core_accounts/aws-landing-zone-notification.template
            parameter_file: parameters/core_accounts/aws-landing-zone-notification.json
            deploy_method: stack_set
            ssm_parameters:
              - name: /org/primary/sns_topic_arn
                value: $[output_TopicARN]
              - name: /org/primary/sns_notification_arn
                value: $[output_NotificationARN]
      # Logging account
      - name: logging
        email: {{ logging_email }}
        ssm_parameters:
          - name: /org/member/logging/account_id
            value: $[AccountId]
        core_resources:
          - name: SharedBucket
            template_file: templates/core_accounts/aws-landing-zone-logging.template
            parameter_file: parameters/core_accounts/aws-landing-zone-logging.json
            deploy_method: stack_set
            # regions:
            #   # Optional: If provided, the Stack will be created in the specified region(s), else it will use the region mentioned at the top
            #   - us-west-2
            ssm_parameters:
              - name: /org/member/logging/bucket_name # This key will always be created in region mentioned at the top of the Manifest file.
                value: $[output_BucketName]
      # Shared Services account
      - name: shared-services
        email: {{ shared_services_email }}
        ssm_parameters:
          - name: /org/member/sharedservices/account_id
            value: $[AccountId]
        core_resources:
          - name: SharedServicesAccountVPC
            template_file: templates/aws_baseline/aws-landing-zone-vpc.template
            parameter_file: parameters/core_accounts/aws-landing-zone-shared-services-vpc.json
            deploy_method: stack_set
            regions:
              - {{ ad_region }}
            ssm_parameters:
              - name: /org/member/sharedservices/vpc_region
                value: $[output_VPCRegion]
              - name: /org/member/sharedservices/vpc_cidr
                value: $[output_VPCCIDR]
              - name: /org/member/sharedservices/vpc_id
                value: $[output_VPCID]
              - name: /org/member/sharedservices/private_subnet1_cidr
                value: $[output_PrivateSubnet1ACIDR]
              - name: /org/member/sharedservices/private_subnet1_id
                value: $[output_PrivateSubnet1AID]
              - name: /org/member/sharedservices/private_subnet2_cidr
                value: $[output_PrivateSubnet2ACIDR]
              - name: /org/member/sharedservices/private_subnet2_id
                value: $[output_PrivateSubnet2AID]
              - name: /org/member/sharedservices/public_subnet1_cidr
                value: $[output_PublicSubnet1CIDR]
              - name: /org/member/sharedservices/public_subnet1_id
                value: $[output_PublicSubnet1ID]
              - name: /org/member/sharedservices/public_subnet2_cidr
                value: $[output_PublicSubnet2CIDR]
              - name: /org/member/sharedservices/public_subnet2_id
                value: $[output_PublicSubnet2ID]
              - name: /org/member/sharedservices/vpc_private_route_ids
                value: $[output_PrivateSubnetRouteTables]
          - name: SharedServicesActiveDirectory
            template_file: templates/core_accounts/aws-landing-zone-aws-active-directory.template
            parameter_file: parameters/core_accounts/aws-landing-zone-aws-active-directory.json
            deploy_method: stack_set
            regions:
              - {{ ad_region }}
            ssm_parameters:
              - name: /org/directory_service/ad_server1_private_ip
                value: $[output_ADServer1PrivateIP]
              - name: /org/directory_service/ad_server2_private_ip
                value: $[output_ADServer2PrivateIP]
              - name: /org/directory_service/domain_dns_name
                value: $[output_DomainDNSName]
              - name: /org/directory_service/domain_netbios_name
                value: $[output_DomainNetBIOSName]
              - name: /org/directory_service/domain_admin_user
                value: $[output_DomainAdmin]
              - name: /org/directory_service/domain_member_sg_id
                value: $[output_DomainMemberSGID]
          - name: SharedServicesRDGW
            template_file: templates/core_accounts/aws-landing-zone-rdgw.template
            parameter_file: parameters/core_accounts/aws-landing-zone-rdgw.json
            deploy_method: stack_set
            regions:
              - {{ ad_region }}
            ssm_parameters:
              - name: /org/member/sharedservices/rdgw_ip1
                value: $[output_EIP1]
      # Organization's Master account
      - name: primary  # NOTE: DO NOT MODIFY THIS ACCOUNT NAME AND IT SHOULD BE THE LAST CORE ACCOUNT IN THE LIST
        ssm_parameters:
          # SSM parameter to hold the AWS Account ID of Organization's Master Account
          - name: /org/primary/account_id
            value: $[AccountId]
          # SSM parameter to hold the Email ID of Organization's Master Account
          - name: /org/primary/email_id
            value: $[AccountEmail]
          # SSM parameter to hold the Organization ID
          - name: /org/primary/organization_id
            value: $[OrganizationId]
        core_resources:
          - name: PrimaryAccountVPC
            template_file: templates/aws_baseline/aws-landing-zone-vpc.template
            parameter_file: parameters/core_accounts/aws-landing-zone-primary-account-vpc.json
            deploy_method: stack_set
            regions:
              - {{ ad_connector_region }}
            ssm_parameters:
              - name: /org/primary/vpc_cidr
                value: $[output_VPCCIDR]
              - name: /org/primary/vpc_id
                value: $[output_VPCID]
              - name: /org/primary/private_subnet1_cidr
                value: $[output_PrivateSubnet1ACIDR]
              - name: /org/primary/private_subnet1_id
                value: $[output_PrivateSubnet1AID]
              - name: /org/primary/private_subnet2_cidr
                value: $[output_PrivateSubnet2ACIDR]
              - name: /org/primary/private_subnet2_id
                value: $[output_PrivateSubnet2AID]
              - name: /org/primary/vpc_private_route_ids
                value: $[output_PrivateSubnetRouteTables]
          - name: PrimaryADConnector
            template_file: templates/core_accounts/aws-landing-zone-aws-ad-connector.template
            parameter_file: parameters/core_accounts/aws-landing-zone-aws-ad-connector.json
            deploy_method: stack_set
            regions:
              - {{ ad_connector_region }}
  {%- for ou in ou_list %}
  {%- if ou %}
  - name: {{ ou | replace(" ","-") }}
    include_in_baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
  {% endif %}
  {%- endfor %}
# Landing Zone Service Control Policies
organization_policies:
  - name: protect-cloudtrail-config
    description: To prevent from deleting or disabling CloudTrail and Config
    policy_file: policies/prevent_deleting_cloudtrails_config.json
    #Apply to accounts in the following OU(s)
    apply_to_accounts_in_ou:
      - {{ core_ou }}
      {%- for ou in ou_list %}
      {%- if ou %}
      - {{ ou | replace(" ","-") }}
      {% endif %}
      {%- endfor %}
# Landing Zone Service Catalog portolfios/products (Optional/Baseline)
portfolios:
  - name: AWS Landing Zone - Core
    description: Optional Core Products
    owner: AWS Solutions
    principal_role: $[alfred_ssm_/org/primary/service_catalog/principal/role_arn]
    # These products will prompt the user to select target Account Email and Region
    products:
      - name: AWS Centralized Logging Solution
        description: Install the centralized log aggregation and monitoring solution
        template_file: templates/optional_products/aws-landing-zone-centralized-logging-primary.template
        skeleton_file: templates/optional_products/aws-landing-zone-centralized-logging-primary-skeleton.template.j2
        ssm_parameters:
          - name: /org/member/centrallogging/es_domain
            value: $[output_DomainEndpoint]
          - name: /org/member/centrallogging/master_role
            value: $[output_MasterRole]
          - name: /org/member/centrallogging/kibana_url
            value: $[output_KibanaLoginURL]
        # Hide/Disable the old version of the product in Service Catalog
        hide_old_versions: true
        # Is this is a baseline product? e.g. AVM ?
        product_type: optional
        launch_constraint_role: $[alfred_ssm_/org/primary/service_catalog/constraint/role_arn]
  - name: AWS Landing Zone - Baseline
    description: Baseline Products for AWS Landing Zone
    owner: AWS Solutions
    principal_role: $[alfred_ssm_/org/primary/service_catalog/principal/role_arn]
    products:
      - name: AWS-Landing-Zone-Account-Vending-Machine
        description: (SO0045) - AWS Landing Zone - Account Vending Machine Template
        # This is the skeleton template for the AVM
        skeleton_file: templates/aws_baseline/aws-landing-zone-avm.template.j2
        parameter_file: parameters/aws_baseline/aws-landing-zone-avm.json
        # Hide/Disable the old version of the product in Service Catalog
        hide_old_versions: true
        # Is this is a baseline product? e.g. AVM ?
        product_type: baseline
        # Do you wish to auto-apply this baseline to accounts everytime a new version of AVM product is created by pipeline?
        apply_baseline_to_accounts_in_ou:
          - {{ core_ou }}
          {%- for ou in ou_list %}
          {%- if ou %}
          - {{ ou | replace(" ","-") }}
          {% endif %}
          {%- endfor %}
        launch_constraint_role: $[alfred_ssm_/org/primary/service_catalog/constraint/role_arn]
# Landing Zone Service Baseline Resources
baseline_resources:
  - name: EnableCloudTrail
    # This resource is part of which baseline(s) product
    baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    template_file: templates/aws_baseline/aws-landing-zone-enable-cloudtrail.template
    parameter_file: parameters/aws_baseline/aws-landing-zone-enable-cloudtrail.json
    deploy_method: stack_set

  - name: EnableNotifications
    baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    depends_on:
      - EnableCloudTrail
    template_file: templates/aws_baseline/aws-landing-zone-notifications.template
    parameter_file: parameters/aws_baseline/aws-landing-zone-notifications.json
    deploy_method: stack_set

  - name: EnableConfig
    baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    template_file: templates/aws_baseline/aws-landing-zone-enable-config.template
    parameter_file: parameters/aws_baseline/aws-landing-zone-enable-config.json
    deploy_method: stack_set
    # Optional regions tag: Apply this baseline to selected list of regions
    # regions:
    #   - us-east-1
    #   - us-west-2
    #   - eu-west-1

  - name: EnableConfigRules
    baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    depends_on:
      - EnableConfig
    template_file: templates/aws_baseline/aws-landing-zone-config-rules.template
    parameter_file: parameters/aws_baseline/aws-landing-zone-config-rules.json
    deploy_method: stack_set

  - name: SecurityRoles
    baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    template_file: templates/aws_baseline/aws-landing-zone-security-roles.template
    parameter_file: parameters/aws_baseline/aws-landing-zone-security-roles.json
    deploy_method: stack_set

  - name: IamPasswordPolicy
    baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    template_file: templates/aws_baseline/aws-landing-zone-iam-password-policy.template
    parameter_file: parameters/aws_baseline/aws-landing-zone-iam-password-policy.json
    deploy_method: stack_set

  - name: PrimaryVPC
    baseline_products:
      - AWS-Landing-Zone-Account-Vending-Machine
    depends_on:
      - VPCCalculator
    template_file: templates/aws_baseline/aws-landing-zone-vpc.template
    parameter_file: parameters/aws_baseline/aws-landing-zone-primary-vpc.json
    deploy_method: stack_set
    parameter_override: true

  # Uncomment these lines to install the Spoke template in every member account for the Centralized Logging Soluion
  # - name: CentralizedLoggingSpoke
  #   baseline_products:
  #     - AWS-Landing-Zone-Account-Vending-Machine
  #   template_file: templates/aws_baseline/aws-landing-zone-centralized-logging-spoke.template
  #   parameter_file: parameters/aws_baseline/aws-landing-zone-centralized-logging-spoke.json
  #   deploy_method: stack_set
