[
    {
        "ParameterKey": "AvailabilityZones",
        "ParameterValue": "$[alfred_genaz_2]",
        "ssm_parameters": [
        {
          "name": "/org/primary/primary_vpc/az_list",
          "value": "$[AZ]"
        }
      ]
    },
    {
        "ParameterKey": "NumberOfAZs",
        "ParameterValue": "2"
    },
    {
        "ParameterKey": "CreateAdditionalPrivateSubnets",
        "ParameterValue": "false"
    },
    {
        "ParameterKey": "CreatePrivateSubnets",
        "ParameterValue": "true"
    },
    {
        "ParameterKey": "CreatePublicSubnets",
        "ParameterValue": "false"
    },
    {
        "ParameterKey": "NATInstanceType",
        "ParameterValue": "t2.small"
    },
    {
        "ParameterKey": "PrivateSubnet1ACIDR",
        "ParameterValue": {{ private_subnet1a_cidr }}
    },
    {
        "ParameterKey": "PrivateSubnet1BCIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PrivateSubnet2ACIDR",
        "ParameterValue": {{ private_subnet2a_cidr }}
    },
    {
        "ParameterKey": "PrivateSubnet2BCIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PrivateSubnet3ACIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PrivateSubnet3BCIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PrivateSubnet4ACIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PrivateSubnet4BCIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PublicSubnet1CIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PublicSubnet2CIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PublicSubnet3CIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "PublicSubnet4CIDR",
        "ParameterValue": "None"
    },
    {
        "ParameterKey": "VPCCIDR",
        "ParameterValue": {{ vpc_cidr }}
    },
    {
        "ParameterKey": "TransitVPC",
        "ParameterValue": "false"
    },
    {
        "ParameterKey": "LogsRetentionInDays",
        "ParameterValue": {{ logs_retention_in_days }}
    }
]
