[
  {
    "ParameterKey": "EnableRootMfaRule",
    "ParameterValue": {{ enable_root_mfa_rule | replace("Yes","true") | replace("No","false") }}
  },
  {
    "ParameterKey": "EnableIamPasswordPolicyRule",
    "ParameterValue": {{ enable_iam_password_policy_rule | replace("Yes","true") | replace("No","false") }}
  },
  {
    "ParameterKey": "KMSId",
    "ParameterValue": ""
  },
  {
    "ParameterKey": "MaximumExecutionFrequency",
    "ParameterValue": "TwentyFour_Hours"
  },
  {
    "ParameterKey": "RequireUppercaseCharacters",
    "ParameterValue": "true"
  },
  {
    "ParameterKey": "RequireLowercaseCharacters",
    "ParameterValue": "true"
  },
  {
    "ParameterKey": "RequireSymbols",
    "ParameterValue": "true"
  },
  {
    "ParameterKey": "RequireNumbers",
    "ParameterValue": "true"
  },
  {
    "ParameterKey": "MinimumPasswordLength",
    "ParameterValue": "12"
  },
  {
    "ParameterKey": "PasswordReusePrevention",
    "ParameterValue": "6"
  },
  {
    "ParameterKey": "MaxPasswordAge",
    "ParameterValue": "90"
  }
]
